input[type=radio] {
    border: 0px;
    width: 2%;
    height: 2em;
}

input[type=number] {
    border: 0px;
    width: 10%;
    font-size:25px;
    font-weight:bold;
}

input[type=submit] {
    border: 1px;
    width: 10%;
    font-size:25px;
    font-weight:bold;
}

form {
    font-size:30px;
    display: inline-block;
    padding: 25px;
    position: relative;
    top: 100px;
    width: 80%;
    background-color: #eaeaf2;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
}

body {
    background-color: #4c72b0;
    color: #212121;
    text-align: center;
}

.topnav {
  background-color: #212121;
  overflow: hidden;
  box-shadow: -2px -2px 5px white,2px -2px 5px white;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #eaeaf2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4c72b0;
  color: black;
}

.formHeader {
    border-bottom-style: solid;
    text-align: center;
}

